.headings-div {
  height: 200px;
  width: 200px;
  background-color: lightblue;
}

body {
  background-color: pink;
  color: rgb(100, 16, 89);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

div > h1 {
  color: yellow;
}

h2 {
  color: #fafafa;
}

h3 {
  color: rgb(124, 79, 212);
}

h4 {
  color: hsl(77, 100%, 40%);
}
